<% include ../partials/header %>

<div class="comment-title">
    <h2>Account settings</h2>
</div>


<div class="row">
    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-12">
                <!--Nav bar-->
                <ul class="nav nav-tabs profile-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/settings/<%= user.id %>">Profile Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/user/settings/<%= user.id %>/password">Password Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card bg-dark text-white">
                    <form id="user-profile-form" action="/user/settings/<%= user.id %>/password?_method=PUT" method="post">
                        <div class="wrapper">
                            <h2 class="p-05">Change Password</h2>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="wrapper">
                                    <h3 class="p-05">New Password</h3>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group p-05">
                                    <input class="form-control" type="password" placeholder="New Password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="wrapper">
                                    <h3 class="p-05">Confirm Password</h3>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group p-05">
                                    <input class="form-control" type="password" placeholder="Confirm Password" name="confirm">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper p-05">
                            <button class="btn btn-success" type="submit">Update Password</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <% include ../partials/profile-side %>
</div>

<% include ../partials/footer %>